<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ride Booking App</title>
<link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
      crossorigin="anonymous">
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
             <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed"
                     data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                     aria-controls="navbar">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-only"> </span>
                     <span class="icon-only"> </span>
                     <span class="icon-only"> </span>   
                  
                  </button>
                  <a class="navbar-brand" href="#" th:href="@{/}">Ride Booking App</a>
             </div>
        </div>
   </nav> 
     
     <br>
     <br>
     
     <div class="container">
         <div class = "row">
             <div class = "col-md-6 col-md-offset-3">
                 <h1> User Login Page </h1>
                 <form th:action="@{/login}" method = "post")>
                 
                      <div th:if="${param.error}">
                          <div class="alerrt alert-danger"> Invalid Username or Password</div>
                      </div>
                      
                      <div th:if="${param.logout}">
                          <div class="alerrt alert-info"> You have been logged out successfully </div>
                      </div>
                      
                      <div class = "form-group">
                           <label for = "userEmail"> Email </label>:
                           <input type = "text" class = "form-control" id = "userEmail" name = "userEmail" 
                           placeholder = "Enter your Email Address" autofocus = "autofocus">
                      </div>
                      
                      <div class = "form-group">
                           <label for = "userPassword"> Password </label>:
                           <input type = "password" class = "form-control" id = "userPassword" name = "userPassword" 
                           placeholder = "Enter your Password" />
                      </div>
                      
                      <div class = "form-group">
                          <div class = "row">
                              <div class = "col-sm-6 col-sm-offset-3">
                                  <input type = "submit" name = "login-submit" id = "login-submit"
                                  class = "form-control btn btn-primary" value="Log In" />
                              </div>
                          </div>
                      </div>     
                 </form>
                 <div class = "form-group">
                     <span> New user? <a href = "/" th:href="@{/registration}"> Register Here </a></span>
                 </div>
                 
             </div>
         </div>
     </div>
</body>
</html>